*{
    padding: 0;
    margin: 0;
}
.title-log{
    justify-content: center;
    text-align: center;
    align-items: center;  
}
h1{
    font-size: 3em;
    color: gray;
    font-style: italic;
}
**/*
box-shadow: 2px 1px 5px 4px rgba(0, 0, 0, 0.199);
*/**
.space{
   
}
.cont{
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-content{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.login-content div{
   
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dert{
    height: 100%;
    max-width: 50%;
    justify-content: space-between;
}
.dirt-dert{
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 20px;
    width: 100%;
    box-shadow: 2px 1px 5px 4px rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    padding: 20px;
}
input{
    overflow-x: hidden;
    padding: 10px;
    text-decoration: none;
    resize: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 4px rgba(0, 0, 0, 0.199);
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    
}
.button-i{
    padding: 15px;
    text-decoration: none;
    resize: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 4px rgba(0, 0, 0, 0.199);
    cursor: pointer;
    width: 250px;
}