*{
    padding: 0;
    margin: 0;
}

.gallery-content{
    height: 100vh;
}

h1{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.root-cont{
    box-sizing: border-box;
    display: block;
}

section {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}

section div{
    margin: 5px;
}

@media screen and (max-width: 500px) {
    section{
       display: block;
    }
  }