*{
    padding: 0;
    margin: 0;
}

.home-img{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;
    position: relative; 
    background-image: url("https://img.autosblogmexico.com/2019/11/27/hVoAV2LR/mecanico-4-182c.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-img:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    left: 0;
}
h3{
    color: white;
    font-size: 5em;
}
.covert{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}