*{
    padding: 0;
    margin: 0;
}
.container-fooder {
    height: 80vh;
    padding: 40px;
    background: #ffffff;
    margin-top: 40px;
}
.container-fooder footer {
    max-width: 1200px;
    margin: auto;
}
 

.container-fooder hr {
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #0f0c0c80;
}